@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
 @import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap");
 @import url("https://fonts.googleapis.com/css?family=Poppins:300,400,500,700i&display=swap");
 body::-webkit-scrollbar {
	 display: none;
}
 body, html {
	 overscroll-behavior-y: contain;
	 overflow-x: hidden;
	/* Hide horizontal scrollbar */
	 padding: 0;
	 margin: 0;
	 font-family: "Poppins", sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
	 -ms-overflow-style: none;
	/* IE and Edge */
	 scrollbar-width: none;
	/* Firefox */
}
 .App {
	 min-height: 100vh;
	 height: 100%;
	 width: 100vw;
	 background-color: #fff;
}
 .App input {
	 box-sizing: border-box;
}
 .greetings {
	 margin-bottom: 1.25rem;
}
 @media (max-width: 1024px) {
	 .greetings {
		 margin-bottom: 0.825rem;
	}
}
 @media (max-width: 768px) {
	 .greetings {
		 margin-bottom: 0.75rem;
	}
}
 @media (max-width: 605px) {
	 .greetings {
		 margin-bottom: 0.6rem;
	}
}
 @media (max-width: 425px) {
	 .greetings {
		 margin-bottom: 0.5rem;
	}
}
 .greetings h1 {
	 font-size: 1.5rem;
	 line-height: 2rem;
	 font-weight: 500;
	 margin: 0.25rem 0;
}
 @media (max-width: 1024px) {
	 .greetings h1 {
		 margin: 0.2rem 0;
	}
}
 @media (max-width: 768px) {
	 .greetings h1 {
		 margin: 0.15rem 0;
	}
}
 .greetings h3 {
	 font-weight: 400;
	 margin: 0.15rem 0;
}
 @media (max-width: 1024px) {
	 .greetings h3 {
		 margin: 0.125rem 0;
	}
}
 @media (max-width: 768px) {
	 .greetings h3 {
		 margin: 0.1rem 0;
	}
}
 .greetings h3 .highlited {
	 color: #111d5e;
	 font-weight: 500;
	 cursor: pointer;
}
 